@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.Title{
    font-size: 30px;
}
.question{
    font-size: 24px;
}
span ,.wronganswer{
    margin-right: 20px;
}
.cont{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 4rem;
}
.cont > div{
    background-color:#fafafa;
    padding:1.2rem;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
}
.skill_text{
    font-family: 'Roboto', sans-serif;
    font-size:1.6rem;
    font-weight:bold;
    margin:1.3rem 0;
}
.question{
    font-size:1.3rem;
    margin: 0.4rem 0;
    margin-left:2rem;
}

.rightanswer, .wronganswer{
    font-size: 1.2rem;
    margin-left:4rem;
}
.rightanswer{
    color:#61AB41;
    font-style: italic;
}
.wronganswer{
    color: red;
}